<!DOCTYPE html>
<html xmlns:th="http://www.thymealef.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<meta charset="UTF-8">
</head>
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(list)}">
		Nenhuma vacinação está cadastrada em nossa biblioteca.</div>
	<div class="alert alert-primary" th:if="${message != null}"
		th:text="${message}"></div>
	<div class="card">
		<div class="card-header">
			<h5 style='text-align: center' class="text-primary">Vacinações
				cadastradas</h5>
		</div>
		<div class="card-body">
			<form method="GET">
				<div class="form-group mb-3">
					<label for="immunization.person.cpf">CPF da Pessoa:</label> <input class="form-control"
						type="text" name="immunization.person.cpf"></input>
				</div>
				<button type="submit" class="btn btn-primary">Buscar</button>
			</form>
			<br>
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Data</th>
							<th>Pessoa Vacinada</th>
							<th>Lote da Vacina</th>
							<th>Local da Vacinação</th>
							<th>Dose</th>
							<th>Opções</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="immunization : ${list}">
							<td th:text="${immunization.id}"></td>
							<td th:text="${#dates.format(immunization.date, 'dd/MM/yyyy')}"></td>
							<td th:text="${immunization.person.name}"></td>
							<td th:text="${immunization.batch.identification}"></td>
							<td th:text="${immunization.location.name}"></td>
							<td th:text="${immunization.dosage}"></td>
							<td><a class="btn btn-primary btn-sm" id="hide"
								th:href="@{/immunization/second(id=${immunization.id})}">Segunda dose</a></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/immunization/edit(id=${immunization.id})}">Editar</a></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/immunization/delete(id=${immunization.id})}"
								onclick="return confirm('Você realmente deseja exluir essa vacinação?')">Excluir</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
      $('#hide').hide();
}
</script>
</html>
