<!DOCTYPE html>
<html xmlns:th="http://www.thymealef.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<meta charset="UTF-8">
</head>
<div layout:fragment="content">
	<h2 style='text-align: center' class="form-group mb-4">Sobre nós!</h2>
	<div style='text-align: center' class="form-group mb-3">
		<p style='text-align: center'>Ola! Somos uma empresa de tecnologia
			que resolvemos melhorar o controle de vacinação para covid-19.
			Vacine-se! Vacina boa é a vacina no braço.</p>
			<br><img alt="empresa em home office" src="https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="820" height="705">
	</div>
</div>
</html>